.holdEverything{
    display: grid;
    place-items:center;
  }
  .inpDesc{
    display:flex;
    -webkit-text-stroke-width:.5px;
    -webkit-text-stroke-color:orange;
    -webkit-text-fill-color: black;
  }
  .spanBet{
    display:flex;
    position: relative;
    width:50px;
    height:50px;
    justify-content: space-between;
  }
  .signIn{
    display: grid;
    place-items: center;
    position: relative;
    width:max-content;
    
  
    border-radius:2%;
    border-style:solid;
    border-color: orange;
    border-width: 10px;
    padding:5%;
    padding-right: -10%;
  }
  .signIn button{
    position: relative;
    border-width:0;
    border-radius: 7px;
    color: black;
    background:orange;
    padding:2%;
    
  }
  .signIn button:hover{
    border-color: black;
    color: orange;
    background:rgb(117, 120, 125);
  }